.jumbotron {
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
  color: white;
  padding: 190px 10px 10px 10px;
  height: 25rem;
  margin-top: -100px;
}

.iframe-responsive {
  padding-bottom: 100%;
  position: relative;
}

.iframe-responsive iframe {
  height: 100%;
  width: 100%;
  position: absolute;
}
